HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Client Code
/client-app/node_modules/
/client-app/.pnp
/client-app.pnp.js

# testing
/client-app/coverage

# production
/client-app/build

# misc
/client-app/.DS_Store
/client-app/.env.local
/client-app/.env.development.local
/client-app/.env.test.local
/client-app/.env.production.local

./client-app/npm-debug.log*
./client-app/yarn-debug.log*
./client-app/yarn-error.log*
